@media (max-width: 1599px) {
    /* for screen 1440px  */

    .hero.hero-image.hero-slider-layout .hero-slide {
        position: relative;
        padding: 150px 0 50px;
    }
    .project-image figure::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgb(16 14 14 / 70%) 50.12%, #000000 100%);
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

@media (max-width: 1439px) {
    /* for screen 1366px  */
    .page-header {
        position: relative;
        background: url(../images/page-header-bg.png), var(--accent-color);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 115px 0;
        margin-top: 100px;
    }
    .video-guide-content .section-title h2 {
        font-size: 18px;
        line-height: 26px;
    }
}

@media (max-width: 1365px) {
    /* for screen 1200px  */
    .section-title h1 {
        font-size: 42px;
        font-weight: 700;
        padding: 15px 0px;
    }

    .hero.hero-image.hero-slider-layout .hero-slide .hero-slider-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: 50px;
    }
    .services-banner .hero-slider-image img {
        object-fit:cover !important;
    }
    .hero.hero-image.hero-slider-layout .hero-slide {
        position: relative;
        padding: 150px 0 80px;
    }
    .section-title h2 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 0;
    }

}

@media (max-width: 1199px) {
    /* for screen 992px  */
    .hero.hero-image.hero-slider-layout .hero-slide .hero-slider-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 50px;
    }

    .hero.hero-image.hero-slider-layout .hero-slide {
        position: relative;
        padding: 120px 0 32px;
    }

    .pr-50 {
        padding-right: 85px;
    }

    .post-item-content h2 {
        font-size: 18px !important;
        font-weight: 600;
        line-height: 1.4em;
        min-height: 85px;
    }

    .main-menu ul li a {
        font-size: 14px;
    }

    .navbar .navbar-brand img {
        height: 64px;
    }

    .header-btn .btn-secondary {
        padding: 6px 14px;
        font-size: 14px;
    }

    .process-step-box {
        padding: 20px 20px !important;
    }

    .company-activity-list ul li span {
        display: block;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .testimonial-quote {
        font-size: 14px;
        color: white;
        line-height: 1.6;
        margin-bottom: 20px;
        font-style: italic;
        min-height: 150px;
    }

    .testimonial-card {
        padding: 20px 15px;
    }

    .author-info h5 {
        color: white;
        margin: 0;
        font-size: 14px;
        font-weight: 600;
    }

    .author-info {
        padding-left: 15px;
        border-left: 1px solid #eee;
        flex-basis: 75% ;
    }

    .post-item-content h2 {
        font-size: 16px !important;
        font-weight: 600;
        line-height: 1.4em;
        min-height: 85px;
    }

    .faq-accordion .accordion-header .accordion-button {
        font-size: 16px;
    }

    img.cta-image {
        position: absolute;
        width: 46%;
    }
    .section-title h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 0;
    }
  
    .footer-links ul li a {
        display: inline-block;
        font-size: 14px;
        color: var(--white-color);
        transition: all 0.3s ease-in-out;
    }
    .our-faqs {
        padding: 50px 0 50px;
    }
    .our-blog {
        padding: 50px 0 50px;
    }
}



@media (max-width: 991px) {
    /* for screen 576px  */
    .page-header {
        background-size: cover;
    }

    .header-btn {
        gap: 16px;
        justify-content: end;
        position: absolute;
        right: 75px;
    }

    .company-activity-image {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 0 30px 30px;
    }

    .company-ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 1rem;
    }

    .hero-card .btn-secondary1, .hero-content .btn-secondary {
        font-size: 14px;
        padding: 12px 12px;
    }

    .section-title h2 {
        line-height: 36px;
    }

    .process-step-box {
        margin-bottom: 20px;
    }

    .company-ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

        .company-ul li {
            margin-bottom: 20px;
        }

    .navbar .navbar-brand img {
        height: 50px;
    }

    .slicknav_btn {
        background: unset;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        margin: 0;
        border-radius: 0;
    }

    .slicknav_icon .slicknav_icon-bar {
        display: block;
        width: 100%;
        height: 3px;
        width: 30px;
        background-color: #000;
        border-radius: 6px;
        margin: 5px auto !important;
        transition: all 0.1s ease-in-out;
    }

    .slicknav_nav {
        background: #fff;
        border-radius: 6px;
        margin-left: 10px !important;
        margin-right: 10px !important;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 40px 0px;
        opacity: 1;
        padding: 20px;
        align-items: flex-start;
        flex-direction: column;
        gap: 24px;
    }

        .slicknav_nav .slicknav_row, .slicknav_nav li a {
            font-size: 16px;
            color: #000;
            padding: 15px 0px
        }

        .slicknav_nav li a {
            font-size: 16px;
            color: #000;
        }

            .slicknav_nav li a:hover {
                font-size: 16px;
                color: #68c4c5;
            }

    .navbar-toggle a.slicknav_btn.slicknav_open .slicknav_icon span.slicknav_icon-bar:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
    }

    .hero-content {
        padding: 50px 0px 0px;
    }

    .gallery-slider {
        padding: 0px 0px;
    }

    .our-partner-item img {
        max-width: 100%;
        max-height: 100%;
    }

    .company-success-image {
        padding: 0 0 0 0px;
    }

    .testimonial-card {
        padding: 20px;
    }

    .product-hero-section .hero-image {
        max-width: 100%;
    }

    .post-item {
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .post-item-content h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4em;
        min-height: unset !important;
    }

    img.cta-image {
        position: absolute;
        width: 50%;
        right: 0px;
        bottom: -10px;
    }

    .easyq-stats-badge {
        position: static;
        margin-top: 1rem;
        max-width: 300px;
        left: -1px;
        align-self: flex-start;
        position: absolute;
    }

    .our-approach-content {
        padding: 40px 0px !important;
        height: 100%;
    }

    .our-approach-content {
        margin-right: 0px;
    }

    .cta-card {
        padding: 50px 20px 120px;
    }

        .cta-card .btn-secondary {
            width: max-content !important;
        }

    .cta-container {
        padding: 40px 0px;
    }

    .cta-title {
        font-size: 28px;
    }

    .product-hero-section {
        padding: 100px 0px 0px;
    }

    .section-title h1 {
        font-size: 24px;
    }

    .product-clients {
        padding-top: 100px;
    }

    .why-card {
        flex-direction: column;
    }

    .pr-50 {
        padding-right: 0px !important;
    }

    .feature-content h2 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 800;
    }

    .mt-50 {
        margin-top: 40px !important;
    }

    .feature-image {
        padding-left: 0px;
        position: relative;
        z-index: 1;
    }

    .reversed .feature-image {
        padding-right: 0px;
    }

    .reversed {
        flex-direction: column-reverse;
    }

    .video-guide-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .pagination {
        margin-top: 100px;
    }

    .post-item-content h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4em;
        min-height: unset;
    }

    .hero-content h1 {
        padding: 15px 0px;
    }

    .our-partner-item {
        min-width: 100% !important;
    }

        .our-partner-item img {
            width: 100%;
            height: 100%;
        }

    .our-feature-nav {
        margin: 0px auto 40px;
        overflow-x: auto;
        white-space: nowrap;
        width: 85%;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .scroll-arrow {
        top: 0px;
    }
    .page-header-box h1 {
        font-size: 42px;
    }
    .page-header {
        position: relative;
        background: url(../images/page-header-bg.png), var(--accent-color);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 58px 0;
        margin-top: 100px;
    }

}

@media (max-width: 768px) {
    .our-feature-nav {
        margin: 0px auto 40px;
        overflow-x: auto;
        white-space: nowrap;
        width: 75%;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .scroll-arrow {
        top: 8px;
    }

    .section-title h2 {
        font-size: 28px;
        line-height: 34px;
    }

    .feature-tab-header-content h3 {
        font-size: 20px !important;
    }
    /* for screen 576px  */
    .section-title h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .company-ul{
        grid-template-columns:repeat(1, 1fr) !important;
    }
    img.cta-image {
        position: absolute;
        width: 100%;
        right: 0px;
        bottom: -10px;
    }
    .cta-card {
        padding: 50px 20px 212px;
    }
    .header-btn {
        gap: 16px;
        justify-content: end;
        position: absolute;
        right: 60px;
    }
        .header-btn .btn-secondary {
            padding: 5px 14px;
            font-size: 12px;
        }
    .cta-certificate h3 {
        font-size: 14px;
        color: var(--white-color);
        margin-bottom: 0px;
    }
    .integration-item-content h3 {
        font-size: 14px;
    }
    .mission-vision-content {
        position: relative;
        width: 100%;
        z-index: 1;
    }
    p{
        font-size:14px !important;
        line-height:20px !important;
    }
    .btn-default{
        font-size:14px;
    }
    .easyq-counter .counter-wrap h3 {
        font-size: 32px;
        color: #ffffff;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 12px;
    }
    .easyq-counter .counter-wrap {
        text-align: center;
        padding: 18px 12px;
        border-radius: 12px;
        background: var(--accent-color);
        color: #ffffff;
    }
    .testimonial-card {
        padding: 22px 15px;
    }
    .services-banner .hero.hero-image.hero-slider-layout .hero-slide {
        padding: 50px 0px 50px;
    }
    .contact-form {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        padding: 20px 15px;
    }
    #enquireform .btn-close {
        position: absolute;
        top: 31px;
        right: 20px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        width: 20px;
        line-height: 20px;
        height: 20px;
        opacity: 0.8;
        transition: all 0.3s ease;
        filter: brightness(0) invert(1);
    }
    #enquireform .modal-title {
        font-size: 22px;
    }
    }

@media (max-width: 576px) {
    /* for screen mobile  */
    .our-feature-nav {
        margin: 0px auto 40px;
        overflow-x: auto;
        white-space: nowrap;
        width: 68% 280.5px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    project-content h3 {
        font-size: 16px;
        text-transform: capitalize;
    }
}