@media (max-width: 1599px) {
    /* for screen 1440px  */
}

@media (max-width: 1439px) {
    /* for screen 1366px  */

}

@media (max-width: 1365px) {
    /* for screen 1200px  */

}

@media (max-width: 1199px) {
    /* for screen 992px  */

}

@media (max-width: 991px) {
    /* for screen 768px  */

}

@media (max-width: 767px) {
    /* for screen 576px  */
    .company-ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .company-ul li {
       margin-bottom:20px;
    }
}

@media (max-width: 576px) {
    /* for screen mobile  */

}
